.hero-container{
  /* height: 70vh;
  background-image: url("./images/hero-images/hero-bull.webp");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center; */
  width: 90%;
  margin: auto;
  display: flex;
  gap: 15px;
  align-items: center;
}

.landing-page{
  background-color: #F6F6F6;
  font-family: 'CircularStd-Book',sans-serif;

  
}


.hero-image{
  width: 45%;    
  transform: scaleX(-1);
  
}

.hero-image img{
  width: 100%;
}

.hero-texts{
  width: 50%;
  padding: 3rem 0;
  font-family: 'CircularStd-Book',sans-serif;

}

.hero-texts h1{
  font-size: 40px;
}

.hero-texts h3{
  padding: 1rem 0 2.5rem ;
  font-size: 20px;
}

.hero-texts a{
  padding: 12px 16px;
  font-size: 18px;
  color: white;
  border: none;
  border: 5px;
  letter-spacing: 1px;
  font-weight: 700;
  background-color: #FFC220;
  font-family: 'CircularStd-Bold',sans-serif;
  text-decoration: none;

}


.primary-color{
  color: #0071DC;
}

.category-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  width: 95%;
  margin: auto;

}

.category-item{
  padding: 26px 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #ebebeb;
  border-color: #e4e4e4;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.category-item img{
}

.category-item p{
  padding-top: 16px;
}


.banner-container{
  background-color: #0071DC;

}
.banner{
  width: 90%;
  margin: auto;
  margin-top: 3rem;
  color: white;
  padding: 2.5rem;
  display: flex;
  gap: 50px;
  
}

.banner-texts{
  width: 55%;
}

.banner-texts h2{
  font-size: 32px;
  padding-bottom: 1.5rem;
}

.banner-texts p{
  font-size: 19px;
  line-height: 26px;
  padding-bottom: 1rem;
}

.banner-texts a{
  padding: 10px 16px;
  font-size: 17px;
  border: none;
  font-weight: 00;
  border-radius: 1px;
  color: rgb(0, 0, 0);
  background-color: white;
  background-color: #FFC220;
  color: white;
  font-family: 'CircularStd-Bold',sans-serif;
  text-decoration: none;
}

.banner-img{
  width: 40%;
  display: flex;
  align-items: center;
}

.banner-img img{
  width: 100%;
  max-width: 480px;
}

.img-transform{
  transform: scaleX(-1);
}

.banner-texts ul{
  list-style-type:disc;
  font-size: 20px;
  padding-bottom: 1rem;
}

.banner-texts ul li{
  padding: 0.5rem;
}

/* landing about us */

.landing-about-us{
  width: 95%;
  margin: auto;
}

.landing-about-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 3rem 0;
  gap: 20px;
}

.landing-about-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-about-item .img-container{
  height: 90px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border:1px solid #EAEAEA;
  border:1px solid #dadada;
  border-radius: 100%;
}

.landing-about-item img{
  /* width: 100%;
  padding: 1.3rem; */
}

.landing-about-item h3{
  padding: 0.5rem 0;
  text-align: center;
}

.landing-about-item p{
  width: 80%;
  text-align: center;
}

/* fill-banner */

.fill-banner{
  padding: 3.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
}


.fill-banner h3{
  font-size: 35px;
}

.fill-banner p{
  padding: 1rem 0 2rem;
  font-size: 20px;
}

.fill-banner button{
  padding: 12px 16px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  border: none;
  background-color: #06CF9C;
  border-radius: 3px;
  font-family: 'CircularStd-Bold',sans-serif;

}


.landing-products-title{
  width: 90%;
  margin: auto;
  font-size: 28px;
  padding: 4rem 0 2rem;
  text-align: center;
 text-transform: capitalize;
}

.landing-products-container{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 2rem;
  grid-column-gap:1rem;
  font-family: "Lexend Deca", sans-serif;


}
